.home .content-wrap {
  padding: 40px 0 20px 0; }
  .home .content-wrap .left-side {
    float: left;
    width: 65%; }
    .home .content-wrap .left-side #first {
      margin-top: 0; }
    .home .content-wrap .left-side .post {
      margin: 20px 0;
      position: relative;
      color: white; }
      .home .content-wrap .left-side .post h2 {
        padding-bottom: 15px; }
      .home .content-wrap .left-side .post h2 a {
        text-decoration: none;
        color: white; }
        .home .content-wrap .left-side .post h2 a:hover {
          text-decoration: underline; }
      .home .content-wrap .left-side .post .text-wrap {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0;
        padding: 20px; }
      .home .content-wrap .left-side .post .read-more {
        text-align: right;
        display: block;
        padding: 10px 0;
        text-transform: uppercase; }
        .home .content-wrap .left-side .post .read-more a {
          color: white;
          background: rgba(255, 255, 255, 0.2);
          padding: 10px;
          text-decoration: none; }
          .home .content-wrap .left-side .post .read-more a:hover {
            text-decoration: underline; }
    .home .content-wrap .left-side .wp-post-image {
      width: 100%;
      height: auto; }
  .home .content-wrap .right-side {
    float: right;
    width: 35%; }
    .home .content-wrap .right-side .content {
      width: 90%;
      margin: 0 auto; }
    .home .content-wrap .right-side .tweet-headline {
      display: block;
      text-align: center;
      margin-bottom: 20px; }
    .home .content-wrap .right-side div.fetch-tweets {
      background-image: url("../img/squairy_light.png");
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
      -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3); }

body {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-image: url("../img/random_grey_variations.png"); }

a {
  color: #336699; }
  a:hover {
    color: #1d3a83;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

a img {
  border: none; }

p {
  padding-bottom: 1em;
  line-height: 1.5em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.clear {
  clear: both; }

.main-wrap {
  background: white;
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
  box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.5), -5px 0px 5px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.5), -5px 0px 5px -3px rgba(0, 0, 0, 0.5); }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*STYLES*/ }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*STYLES*/ }
/*** IE 8 ***/
@media \0screen {
  /*STYLES*/ }
/*** IE 7 ***/
@media screen\9 {
  /*STYLES*/ }
@media print {
  /* All your print styles go here */ }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*	font-size: 100%;
  	font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  min-height: 200px;
  background: white; }
  header .menu-main-menu-container {
    background-image: url("../img/squairy_light.png");
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    clear: both;
    position: relative;
    z-index: 999999; }
    header .menu-main-menu-container a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      border-radius: 10px; }
      header .menu-main-menu-container a:hover {
        background: rgba(255, 102, 0, 0.2);
        border: 1px solid #ff6600;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    header .menu-main-menu-container ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0; }
      header .menu-main-menu-container ul li {
        display: inline-block;
        width: 18%;
        text-align: center; }
  header .logo,
  header .tagline {
    height: 200px;
    padding-top: 20px; }
  header .logo {
    width: 45%;
    max-width: 400px;
    float: left;
    padding-left: 20px; }
    header .logo img {
      width: 100%;
      height: auto; }
  header .tagline {
    font-style: italic;
    float: right;
    width: 50%;
    background-image: url("../img/tagline_bg.jpg"); }
    header .tagline span {
      display: block;
      width: 50%;
      text-align: right;
      float: right;
      color: white;
      text-shadow: 1px 1px 3px #000000;
      padding: 50px 20px 0 0;
      line-height: 1.5em; }

footer {
  border-top: 2px solid #ff6600;
  background-image: url("../img/squairy_light.png");
  min-height: 150px;
  width: 100%; }
  footer .content {
    padding: 25px; }
  footer .left-side {
    float: left;
    width: 35%;
    text-shadow: 1px 1px 3px #000000; }
    footer .left-side img {
      max-width: 100px;
      height: auto;
      float: left; }
    footer .left-side .copyright {
      font-size: 14px;
      float: left;
      padding: 30px 0 0 25px; }
  footer .right-side {
    float: right;
    width: 65%;
    text-align: right; }
    footer .right-side .search-form {
      padding: 20px 0; }
    footer .right-side .menu-footer-menu-container ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 14px; }
    footer .right-side .menu-footer-menu-container li {
      display: inline; }
