footer {
	border-top: 2px solid $color_orange;
	.content {
		padding: $footer_padding;
	}
	background-image: url("../img/squairy_light.png");
	min-height: 150px;
	width: 100%;
	.left-side {
		float: left;
		width: 35%;
		img {
			max-width: 100px;
			height: auto;
			float: left;
		}
		.copyright {
			font-size: 14px;
			float: left;
			padding: 30px 0 0 25px;
		}
	}
	.right-side {
		float: right;
		width: 65%;
		text-align: right;
		.search-form {
			padding: 20px 0;
		}
		.menu-footer-menu-container {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				font-size: 14px;
			}
			li {
				display: inline;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_ipad) {
	footer {
		.left-side {
			img {
				max-width: 50px;
				padding-left: 35px;
				float: none;
			}
			.copyright {
				padding: 30px 0 0 0;
				float: none;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_mobile) {
	footer {
		.left-side {
			width: 100%;
			img,
			.copyright {
				padding: 0;
				display: block;
				margin: 0 auto;
				text-align: center;
			}
		}
		.right-side {
			width: 100%;
			.search-form,
			.menu-footer-menu-container {
				display: none;
			}
			.twitter-follow-button {
				display: block;
				margin: 15px auto;
			}
		}
	}
}