.home,
.category {
	.content-wrap {
		padding: 40px 0 20px 0;
		.left-side {
			float: left;
			width: 65%;
			#first {
				margin-top: 0;
			}
			.post {
				margin: $post_spacing 0;
				position: relative;
				color: $color_white;
				min-height: 200px;
				h2 {
					padding-bottom: 15px;
					margin-bottom: 0;
					line-height: 1.25em;
				}
				h2 a {
					text-decoration: none;
					color: $color_white;
					&:hover {
						text-decoration: underline;
					}
				}
				.feature-image {
				}
				.text-wrap {
					background-color: $color_black_trans;
					position: absolute;
					bottom: 0;
					padding: 20px;
				}
				.read-more {
					text-align: right;
					display: block;
					padding: 10px 0;
					text-transform: uppercase;
					a {
						color: $color_white;
						background: $color_white_trans;
						padding: 10px;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.wp-post-image {
				width: 100%;
				height: auto;
			}
			.navigation {
				text-align: center;
			}
		}
		.right-side {
			float: right;
			width: 35%;
			.content {
				width: 90%;
				margin: 0 auto;
			}
			.tweet-headline {
				display: block;
				text-align: center;
				margin-bottom: $post_spacing;
			}
			div.fetch-tweets {
				background-image: url("../img/squairy_light.png");
				border: 1px solid $color_black_trans;
				padding: 10px;
				-webkit-box-shadow:inset 0 0 2px 2px rgba(0,0,0,.3);
				box-shadow:inset 0 0 2px 2px rgba(0,0,0,.3);
			}
		}
	}
}

@media screen and (max-width: $breakpoint_ipad) {
	.home,
	.category {
		.content-wrap {
			.left-side {
				width: 100%;
			}
			.right-side {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_mobile) {
	.home,
	.category {
		.content-wrap {
			.left-side {
				.post {
					.text-wrap {
						padding: 0;
						width: 100%;
						h2 {
							padding: 15px 0 15px 15px;
						}
					}
					.excerpt {
						display: none;
					}
				}
			}
		}
	}
}