body {
	color: $color_font;
	font-family: $font_helvetica;
	background-image: url("../img/random_grey_variations.png");
	a {
		color: $color_blue_off;
		&:hover {
			color: $color_blue;
			@include css_transition;
		}
	}

	a img {
		border: none;
	}

	p {
		padding-bottom: 1em;
		line-height: 1.5em;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	.clear {
		clear: both;
	}
}


.main-wrap {
	background: $color_white;
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
	box-shadow:  5px 0px 5px -3px rgba(0, 0, 0, .5), -5px 0px 5px -3px rgba(0, 0, 0, .5);
	-webkit-box-shadow:  5px 0px 5px -3px rgba(0, 0, 0, .5), -5px 0px 5px -3px rgba(0, 0, 0, .5);
	.body-content {
		width: 85%;
		margin: $post_spacing auto;
		min-height: 400px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/*STYLES*/
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/*STYLES*/
}