header {
	width: 100%;
	min-height: 200px;
	background: $color_white;
	.menu-main-menu-container {
		background-image: url("../img/squairy_light.png");
		border-top: 1px solid $color_black_trans;
		border-bottom: 1px solid $color_black_trans;
		-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
		box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
		width: 100%;
		clear: both;
		position: relative;
		z-index: 999999;
		a {
			color: $color_black_trans;
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px;
			border-radius: 10px;
			&:hover {
				background: $color_orange_trans;
				border: 1px solid $color_orange;
				@include css_transition;
			}
		}
		ul {
			list-style-type: none;
    		margin: 0;
    		padding: 20px 0;
    		li {
    			display: inline-block;
    			width: 18%;
    			text-align: center;
    		}
		}
	}
	.logo,
	.tagline {
		height: 200px;
		padding-top: 20px;
	}
	.logo {
		width: 45%;
		max-width: 400px;
		float: left;
		padding-left: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.tagline {
		font-style: italic;
		float: right;
		width: 50%;
		background-image: url("../img/tagline_bg.jpg");
		span {
			display: block;
			width: 50%;
			text-align: right;
			float: right;
			color: $color_white;
			text-shadow: 1px 1px 3px #000000;
			padding: 50px 20px 0 0;
			line-height: 1.5em;
		}
	}
}