/*** IE 8 ***/
@media \0screen {
	.home,
	.category {
		.content-wrap {
			.left-side {
				.post {
					.text-wrap {
						background-color: $color_black;
					}
				}
			}
			.right-side {
				div.fetch-tweets {
					border: 1px solid $color_black;
				}
			}
		}
	}
}

/*** IE 7 ***/
@media screen\9 {
	.home,
	.category {
		.content-wrap {
			.left-side {
				.post {
					.text-wrap {
						background-color: $color_black;
					}
				}
			}
			.right-side {
				div.fetch-tweets {
					border: 1px solid $color_black;
				}
			}
		}
	}
}